test/Ndrd-PLC模拟流程.json
[
    {
        "id": "8e6ac4fac74d3d4e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcc140967d8fde5e",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "778fe417e2fea0e2",
        "type": "subflow",
        "name": "trig",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "fc255ee3c1a73ef7"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c030ea5e2185be82",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "172.16.1.95",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "500",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "DB1,X0.1",
                "name": "cmd-pt1"
            },
            {
                "addr": "DB1,X0.2",
                "name": "cmd-pt2"
            },
            {
                "addr": "DB1,X0.3",
                "name": "cmd-pt3"
            },
            {
                "addr": "DB2,X0.1",
                "name": "done-pt1"
            },
            {
                "addr": "DB2,X0.2",
                "name": "done-pt2"
            },
            {
                "addr": "DB2,X0.3",
                "name": "done-pt3"
            },
            {
                "addr": "DB3,INT10",
                "name": "data-pt1"
            },
            {
                "addr": "DB3,WORD20",
                "name": "data-pt2"
            },
            {
                "addr": "DB3,REAL30",
                "name": "data-pt3"
            },
            {
                "addr": "DB2,X1.1",
                "name": "fault1"
            },
            {
                "addr": "DB2,X1.2",
                "name": "fault2"
            },
            {
                "addr": "DB2,X1.3",
                "name": "fault3"
            },
            {
                "addr": "DB2,X1.4",
                "name": "error1"
            },
            {
                "addr": "DB2,X1.5",
                "name": "error2"
            },
            {
                "addr": "DB2,X1.6",
                "name": "error3"
            }
        ]
    },
    {
        "id": "c4a51019132d5970",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f8d50a6f7958005",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d600b8706b442972",
        "type": "ui_group",
        "name": "指令1",
        "tab": "c4a51019132d5970",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58d0d12112ada302",
        "type": "ui_group",
        "name": "指令2",
        "tab": "c4a51019132d5970",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b523779dcb7558e3",
        "type": "ui_group",
        "name": "指令3",
        "tab": "c4a51019132d5970",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1f11cd9e497a6ee",
        "type": "ui_group",
        "name": "故障信号",
        "tab": "c4a51019132d5970",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b491eb81662d4cbe",
        "type": "delay",
        "z": "778fe417e2fea0e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "65a189643b6c2d5a"
            ]
        ]
    },
    {
        "id": "2f8b54941bce1416",
        "type": "s7 out",
        "z": "778fe417e2fea0e2",
        "endpoint": "c030ea5e2185be82",
        "variable": "",
        "name": "cmd",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "65a189643b6c2d5a",
        "type": "function",
        "z": "778fe417e2fea0e2",
        "name": "",
        "func": "let cmd_var = \"cmd-\"+msg.payload;\nlet sig_var = \"done-\"+msg.payload;\nlet data_var = \"data-\"+msg.payload;\n\nlet msg_cmd = {\n    variable:cmd_var,\n    payload:false\n};\n\nlet msg_sig = {\n    variable:sig_var,\n    payload:true\n};\n\nlet msg_data = {\n    variable:data_var,\n    payload: global.get(\"datas\")[msg.payload] + 10\n};\n\nmsg = [msg_cmd,msg_sig,msg_data];\n\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 380,
        "wires": [
            [
                "2f8b54941bce1416"
            ],
            [
                "cca34b0d582b6c89",
                "f42a3d07fb917358"
            ],
            [
                "8a9aa44afae5db33"
            ]
        ]
    },
    {
        "id": "cca34b0d582b6c89",
        "type": "s7 out",
        "z": "778fe417e2fea0e2",
        "endpoint": "c030ea5e2185be82",
        "variable": "",
        "name": "sig",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "8a9aa44afae5db33",
        "type": "s7 out",
        "z": "778fe417e2fea0e2",
        "endpoint": "c030ea5e2185be82",
        "variable": "",
        "name": "data",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "f42a3d07fb917358",
        "type": "delay",
        "z": "778fe417e2fea0e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "81328c55f4363725"
            ]
        ]
    },
    {
        "id": "81328c55f4363725",
        "type": "change",
        "z": "778fe417e2fea0e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 500,
        "wires": [
            [
                "cca34b0d582b6c89",
                "521e5fd305ec5de4"
            ]
        ]
    },
    {
        "id": "fc255ee3c1a73ef7",
        "type": "switch",
        "z": "778fe417e2fea0e2",
        "name": "",
        "property": "running",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 80,
        "wires": [
            [],
            [
                "fa6c08eb88e84762"
            ]
        ]
    },
    {
        "id": "fa6c08eb88e84762",
        "type": "change",
        "z": "778fe417e2fea0e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "running",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "b491eb81662d4cbe"
            ]
        ]
    },
    {
        "id": "521e5fd305ec5de4",
        "type": "change",
        "z": "778fe417e2fea0e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "running",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5be213c4458b8332",
        "type": "s7 in",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "mode": "all",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "8df53233caa8267b"
            ]
        ]
    },
    {
        "id": "8df53233caa8267b",
        "type": "function",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "func": "let plcs = msg.payload;\nlet cmds = {};\nlet sigs = {};\nlet datas = {};\nfor (const [k, v] of Object.entries(plcs)) {\n    // node.warn(k);\n    // node.warn(v);\n    if (k.includes('cmd')){\n        // cmds.push({[k.slice(-3)]:v})\n        cmds[k.slice(-3)]=v;\n    }\n    if (k.includes('done')){\n        sigs[k.slice(-3)]=v;\n    }\n    if (k.includes('data')){\n        datas[k.slice(-3)]=v;\n    }\n}\n\nglobal.set('cmds',cmds);\nglobal.set('sigs',sigs);\nglobal.set('datas',datas);\n\nmsg.Array = Object.keys(cmds);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "6fa794b4f97e9760",
                "102583f1e4a83277",
                "5a46d562d3533f0d",
                "151ecd6ab8a6d5e5",
                "7ca27fe420eb043c",
                "e59d8456c6414178",
                "911d1616dced6749",
                "4c0b9830cb8d75fe",
                "77e3341fe4c909f6",
                "899506639481d815"
            ]
        ]
    },
    {
        "id": "d251b7a84067b81b",
        "type": "array-loop",
        "z": "8e6ac4fac74d3d4e",
        "name": "abc",
        "key": "ald251b7a84067b81b",
        "keyType": "msg",
        "reset": false,
        "resetValue": "value-empty",
        "array": "Array",
        "arrayType": "msg",
        "x": 110,
        "y": 480,
        "wires": [
            [],
            [
                "ec30b37aef7c1742"
            ]
        ]
    },
    {
        "id": "ec30b37aef7c1742",
        "type": "function",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "func": "let k = msg.payload;\nif (global.get(\"cmds\")[k]==true) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 560,
        "wires": [
            [
                "d251b7a84067b81b",
                "f8b22007b7cc1303"
            ]
        ]
    },
    {
        "id": "f8b22007b7cc1303",
        "type": "subflow:778fe417e2fea0e2",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "x": 310,
        "y": 560,
        "wires": []
    },
    {
        "id": "cee05419bcca47e0",
        "type": "ui_button",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "d600b8706b442972",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "执行",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "285c7ef1ae27bf9b"
            ]
        ]
    },
    {
        "id": "285c7ef1ae27bf9b",
        "type": "s7 out",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "variable": "cmd-pt1",
        "name": "",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "7e4a9b00e4f0581e",
        "type": "ui_switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "label": "执行信号",
        "tooltip": "",
        "group": "d600b8706b442972",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6fa794b4f97e9760",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cmds[\"pt1\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 100,
        "wires": [
            [
                "7e4a9b00e4f0581e"
            ]
        ]
    },
    {
        "id": "bb28272d981ec470",
        "type": "ui_switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "label": "完成信号",
        "tooltip": "",
        "group": "d600b8706b442972",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "102583f1e4a83277",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sigs[\"pt1\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "bb28272d981ec470"
            ]
        ]
    },
    {
        "id": "5a46d562d3533f0d",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "datas[\"pt1\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 180,
        "wires": [
            [
                "821272cd0b6a7ff5"
            ]
        ]
    },
    {
        "id": "821272cd0b6a7ff5",
        "type": "ui_gauge",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "d600b8706b442972",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "数据",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "3102cdf4b970f323",
        "type": "ui_button",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "58d0d12112ada302",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "执行",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "86042bcaaf89a6c6"
            ]
        ]
    },
    {
        "id": "86042bcaaf89a6c6",
        "type": "s7 out",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "variable": "cmd-pt2",
        "name": "",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "064f33e4594be74d",
        "type": "ui_switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "label": "执行信号",
        "tooltip": "",
        "group": "58d0d12112ada302",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "151ecd6ab8a6d5e5",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cmds[\"pt2\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "064f33e4594be74d"
            ]
        ]
    },
    {
        "id": "a2d15bf9cf9733b7",
        "type": "ui_switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "label": "完成信号",
        "tooltip": "",
        "group": "58d0d12112ada302",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7ca27fe420eb043c",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sigs[\"pt2\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "a2d15bf9cf9733b7"
            ]
        ]
    },
    {
        "id": "e59d8456c6414178",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "datas[\"pt2\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 380,
        "wires": [
            [
                "5b6e3301974b1095"
            ]
        ]
    },
    {
        "id": "5b6e3301974b1095",
        "type": "ui_gauge",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "58d0d12112ada302",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "数据",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "35368bb711311a54",
        "type": "ui_button",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "b523779dcb7558e3",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "执行",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 460,
        "wires": [
            [
                "ec1a0687b3f701be"
            ]
        ]
    },
    {
        "id": "ec1a0687b3f701be",
        "type": "s7 out",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "variable": "cmd-pt3",
        "name": "",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ab9453da2698fa7",
        "type": "ui_switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "label": "执行信号",
        "tooltip": "",
        "group": "b523779dcb7558e3",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "911d1616dced6749",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cmds[\"pt3\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "6ab9453da2698fa7"
            ]
        ]
    },
    {
        "id": "493faac0f919458e",
        "type": "ui_switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "label": "完成信号",
        "tooltip": "",
        "group": "b523779dcb7558e3",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4c0b9830cb8d75fe",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sigs[\"pt3\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 540,
        "wires": [
            [
                "493faac0f919458e"
            ]
        ]
    },
    {
        "id": "77e3341fe4c909f6",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "datas[\"pt3\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 580,
        "wires": [
            [
                "6114a88db1ac52ab"
            ]
        ]
    },
    {
        "id": "6114a88db1ac52ab",
        "type": "ui_gauge",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "b523779dcb7558e3",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "数据",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "899506639481d815",
        "type": "switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "property": "cmds[\"pt1\"]",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "d46c19dfc0baecd2"
            ],
            [
                "c4f6e185d9a89bcc"
            ]
        ]
    },
    {
        "id": "d46c19dfc0baecd2",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pt1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "2a3e87d8148f66bd"
            ]
        ]
    },
    {
        "id": "2a3e87d8148f66bd",
        "type": "subflow:778fe417e2fea0e2",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "c4f6e185d9a89bcc",
        "type": "switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "property": "cmds[\"pt2\"]",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "d7050527d31e3d8f"
            ],
            [
                "ce63ec73ea8ae630"
            ]
        ]
    },
    {
        "id": "d7050527d31e3d8f",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pt2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "2a3e87d8148f66bd"
            ]
        ]
    },
    {
        "id": "ce63ec73ea8ae630",
        "type": "switch",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "property": "cmds[\"pt3\"]",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "0c6a4d088955efb0"
            ]
        ]
    },
    {
        "id": "0c6a4d088955efb0",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pt3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "2a3e87d8148f66bd"
            ]
        ]
    },
    {
        "id": "d38a69a06865962c",
        "type": "s7 out",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "variable": "",
        "name": "",
        "x": 1100,
        "y": 720,
        "wires": []
    },
    {
        "id": "a87f2cb95c98f4f6",
        "type": "ui_dropdown",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "label": "选择故障信号",
        "tooltip": "",
        "place": "无",
        "group": "d1f11cd9e497a6ee",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "故障1",
                "value": "fault1",
                "type": "str"
            },
            {
                "label": "故障2",
                "value": "fault2",
                "type": "str"
            },
            {
                "label": "故障3",
                "value": "fault3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 720,
        "y": 640,
        "wires": [
            [
                "a56e61487d8024bc"
            ]
        ]
    },
    {
        "id": "a56e61487d8024bc",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fault",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f913232019e515a6",
        "type": "ui_button",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "d1f11cd9e497a6ee",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "触发故障",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 700,
        "wires": [
            [
                "56d296330afd6365"
            ]
        ]
    },
    {
        "id": "a18a745080591bf4",
        "type": "ui_button",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "d1f11cd9e497a6ee",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "恢复故障",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 740,
        "wires": [
            [
                "bc1e746996f1feca"
            ]
        ]
    },
    {
        "id": "56d296330afd6365",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "variable",
                "pt": "msg",
                "to": "fault",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 700,
        "wires": [
            [
                "d38a69a06865962c"
            ]
        ]
    },
    {
        "id": "bc1e746996f1feca",
        "type": "change",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "variable",
                "pt": "msg",
                "to": "fault",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 740,
        "wires": [
            [
                "d38a69a06865962c"
            ]
        ]
    },
    {
        "id": "9a3d8df865fb3b76",
        "type": "s7 out",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "variable": "data-pt1",
        "name": "",
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "f3bc07d74b4aaa98",
        "type": "function",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "func": "function getRandomInt() {\n  return Math.floor(Math.random() * 1000) + 1;\n}\n\n\nfunction getRandomFloat() {\n  return Math.random() * 999 + 1;\n}\n\nlet d1 = {payload:getRandomInt()};\nlet d2 = {payload:getRandomInt()};\nlet d3 = {payload:getRandomFloat()};\n\nreturn [d1,d2,d3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 880,
        "wires": [
            [
                "9a3d8df865fb3b76"
            ],
            [
                "0db36e4842722f2c"
            ],
            [
                "78d3cd4164d9212a"
            ]
        ]
    },
    {
        "id": "0db36e4842722f2c",
        "type": "s7 out",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "variable": "data-pt2",
        "name": "",
        "x": 1030,
        "y": 880,
        "wires": []
    },
    {
        "id": "78d3cd4164d9212a",
        "type": "s7 out",
        "z": "8e6ac4fac74d3d4e",
        "endpoint": "c030ea5e2185be82",
        "variable": "data-pt3",
        "name": "",
        "x": 1030,
        "y": 940,
        "wires": []
    },
    {
        "id": "7997197d2b258fc6",
        "type": "ui_button",
        "z": "8e6ac4fac74d3d4e",
        "name": "",
        "group": "d1f11cd9e497a6ee",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "随机修改数据",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 880,
        "wires": [
            [
                "f3bc07d74b4aaa98"
            ]
        ]
    }
]